body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f1f1;
}

.bg-navbar {
  background-color: #ededed;
}

.navbar-title {
  font-size: 14px;
  color: #B40A33;
  margin: 0.6em 0;
  font-weight: 500;
}

.navbar-title:hover {
  color: #B40A33;
}

.heading {
  font-weight: 600;
  font-size: 36px;
  color: #18181b;
}

.mb-mobile-3 {
  margin-bottom: 1em;
}

.subheading {
  color: #6f6f6f;
  font-size: 18px;
  font-weight: 500;
}

.quote {
  font-weight: 600;
  font-size: 36px;
  color: #18181b;
}

.quote span {
  font-weight: 300;
  font-size: 18px;
  color: #6f6f6f;
  display: block;
  margin-top: 0.5em;
}

.heading span {
  color: #B40A33;
}

.btn-orange {
  background-color: #B40A33;
  color: white;
  padding: 1em 0;
}

.btn-outline-orange {
  border: 1px solid #B40A33;
  color: #B40A33;
  padding: 0.5em 0;
}

.btn-outline-orange:hover {
  color: white;
  background-color: #B40A33;
  padding: 0.5em 0;
}

.btn-orange:hover {
  color: #f1f1f1;
  background-color: #cd1c45;
}

.f-small {
  font-size: 12px;
}

canvas {
  border-radius: 5px;
  cursor: pointer;
}

.f-small span {
  color: #B40A33;
}

.form-custom {
  background: #fcfcfc;
  border: 1px solid #e3e3e3;
  padding: 1.5em;
}

.form-custom:focus {
  outline-width: 0;
  border: 1px solid #B40A33;
}

.form-custom::placeholder {
  font-size: 12px;
  color: #beb4b4;
}

.form-custom::content {
  font-size: 12px;
}

.task {
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.task.done {
  background-color: #6f6f6f;
}

#pomo {
  height: 300px;
  width: 100%;
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .heading {
      font-weight: 600;
      font-size: 84px;
      color: #18181b;
  }

  .quote {
    font-weight: 600;
    font-size: 48px;
    color: #18181b;
  }

  .mb-mobile-3 {
    margin-bottom: unset;
  }
}