body {
  font-family: 'Poppins', sans-serif;
  background-color: #f1f1f1;
}

.bg-navbar {
  background-color: #ededed;
}

.navbar-title {
  font-size: 14px;
  color: #d9622b;
  margin: 0.6em 0;
  font-weight: 500;
}

.heading {
  font-weight: 600;
  font-size: 84px;
  color: #18181b;
}

.subheading {
  color: #6f6f6f;
  font-size: 20px;
}

.quote {
  font-weight: 600;
  font-size: 48px;
  color: #18181b;
}

.quote span {
  font-weight: 300;
  font-size: 18px;
  color: #6f6f6f;
  display: block;
  margin-top: 0.5em;
}

.heading span {
  color: #d9622b;
}

.btn-orange {
  background-color: #d9622b;
  color: white;
  padding: 1em 0;
}

.btn-orange:hover {
  color: #f1f1f1;
  background-color: #ca531d;
}

.f-small {
  font-size: 12px;
}

canvas {
  border-radius: 5px;
  cursor: pointer;
}

.f-small span {
  color: #d9622b;
}

.form-custom {
  background: #fcfcfc;
  border: 1px solid #e3e3e3;
  padding: 1.5em;
}

.form-custom:focus {
  outline: none !important;
  border: 1px solid #d9622b;
}

.form-custom::placeholder {
  font-size: 12px;
  color: #beb4b4;
}

.form-custom::content {
  font-size: 12px;
}

.task {
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.task.done {
  text-decoration: line-through;
}

#pomo {
  height: 200px;
  width: 100%;
}